<div class='full parallax social-networks' style="background-image: url({{ "/assets/images/Everet-with-parents-newbg2.jpg" | relative_url }})">
  <div class="section-header white">
      <h2>Leave a review</h2>
      <p class='big-size'> My reviews are often the reason people hire me. Students or parents taking the time to write a review means a great deal to me.
        <br><br>You can leave a review on either google maps (preferred) or facebook.
        <br>However, if you are willing to copy and paste your review into both I would be forever grateful!</p>

      <img src="{{ "" | relative_url }}" alt="">
    </div>
  <div class='row'>
    <div class='medium-3 columns'>
      <div>
        <a href='http://facebook.com/levelupmath'>
          <i></i>
        </a>
        <h4></h4>
        <p></p>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='https://g.page/Levelupmath/review?rc'>
          <i class='fa fa-google'></i>
        </a>
        <h4>Google maps</h4>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='https://www.facebook.com/pg/Levelupmath/reviews/'>
          <i class='fa fa-facebook'></i>
        </a>
        <h4>Facebook</h4>
      </div>
      <div class='two spacing'></div>
    </div>
      <div class='two spacing'></div>
    </div>
</div>
